/*                                                                            
Copyrights © www.codatey.blogspot.com                                                                            
*/                                                                        
@font-face {
    font-family: "JFlat";
    src: url('https://cdn.rawgit.com/mstaphabouh/Cdt/master/fonts/JF-Flat-regular.eot');
    src: url('https://cdn.rawgit.com/mstaphabouh/Cdt/master/fonts/JF-Flat-regular.eot?#iefix') format('embedded-opentype'),
    url('https://cdn.rawgit.com/mstaphabouh/Cdt/master/fonts/JF-Flat-regular.svg#JF Flat Regular') format('svg'),
    url('https://cdn.rawgit.com/mstaphabouh/Cdt/master/fonts/JF-Flat-regular.woff') format('woff'),
    url('https://cdn.rawgit.com/mstaphabouh/Cdt/master/fonts/JF-Flat-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
